@import "tailwindcss" important;
@import ".././css/antd/antd.scss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Segoe Pro';
  font-weight: 400;
  src: url('../fonts/segoe/SegoePro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Pro';
  font-weight: 600;
  src: url('../fonts/segoe/SegoePro-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Pro';
  font-weight: 700;
  src: url('../fonts/segoe/SegoePro-Bold.woff') format('woff');
}



@theme inline {
  --color-main: var(--background);
  --color-secondary: var(--background-secondary);
  --color-tertiary: var(--background-tertiary);

  --color-base: var(--primary);
  --color-base-secondary: var(--primary-hover);
  --color-base-tertiary: var(--accent);

  --color-button-hover: var(--primary-hover);


  
  --color-fg: var(--text-primary);
  --color-fg-secondary: var(--text-secondary);
  --color-fg-tertiary: var(--text-tertiary);
  --color-link: var(--primary-hover);
  --color-border: var(--border);


  --font-segoe: "Segoe Pro", sans-serif;

}

@layer base {
  :root {
    --background: #F9F9F9;
    --background-secondary: #F3F5F8;
    --background-tertiary: #F6F6F6;

    --text-primary: #1A1D29;
    --text-secondary: #5A6072;
    --text-tertiary: #8E94A8;



    --primary: #059669;
    --primary-hover: #047857;
    --accent: #10B981;

    --border:#acaeb0 ;
    --hover: #F8FAFC;

    --success: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;

    --focus-ring: 0 0 0 3px rgba(5, 150, 105, 0.1);
    --shadow-sm: 0 4px 6px -1px rgba(5, 150, 105, 0.05), 0 2px 4px -1px rgba(5, 150, 105, 0.03);
  }

  .dark {
    --background: #151517;
    --background-secondary: #1b1b1c;
    --background-tertiary: #1b1b1c;

    --text-primary: #fff;
    --text-secondary: #CBD5E1;
    --text-tertiary: #64748B;

    --primary: #10B981;
    --primary-hover: #34D399;
    --accent: #6EE7B7;

    --border: #2D3748;
    --hover: #252536;

    --success: #34D399;
    --warning: #FBBF24;
    --error: #F87171;
    --focus-ring: 0 0 0 3px rgba(16, 185, 129, 0.15);
    --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}



@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--secondary);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--base);
    border-radius: 9999px;
    border: 2px solid var(--secondary);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-base);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--base) var(--secondary);

  }
}