@import "./select.scss";
@import "./input.scss";
@import "./button.scss";
.ant-btn,
.ant-input,
.ant-select,
.ant-card,
.ant-menu,
.ant-table,
.ant-modal,
.ant-dropdown {
  transition: all 0.3s ease;
}
 .ant-form-item {
  margin-bottom: 8px !important;
}

.ant-form-item-explain-error {
  color: var(--error) !important;
  font-size: 13px;
  margin-top: 2px;
}



