.ant-input {
    background-color: transparent!important;
    border-radius: 4px !important;
    outline: none;
}

.ant-input:hover {
    border-color: var(--primary) !important;
}
.ant-input:focus {
    border-color: var(--primary) !important;
    outline: none;
}

.ant-input::placeholder {
    color: var(--text-tertiary);
}

.ant-input-affix-wrapper {
    background-color: transparent !important;
    border: 1px solid var(--border) !important;
    border-radius: 4px !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: var(--primary) !important;
}
.ant-input-textarea {
    background-color: transparent !important;
}

.ant-input-textarea .ant-input {
    background-color: transparent !important;
}

.ant-input[disabled] {
    background-color: var(--background-secondary) !important;
    color: var(--text-secondary) !important;
    border-color: var(--border) !important;
    opacity: 0.7;
}

.ant-input[disabled]::placeholder {
    color: var(--text-tertiary) !important;
}


.ant-input-status-error:not(.ant-input-disabled){
    border-width: 1px !important;
    border-style: solid !important;
    border-color: var(--error) !important;
}

.ant-form-item .ant-form-item-feedback-icon-success {
    color: var(--primary) !important;
}